body{
    background-image: url(../images/foto_instituto.jpg);
    font-family: calligraphy;
}
main{
    width: 750px;
    margin: 100px auto 50px;
    display: flex;
    align-items:center;
}
.seccion1{

    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align:center;
    color:white;
}
button{
    height: 100px;
    width:100px;
    font-size:40px;
    color: white;
    font-weight:bold;
}
button:hover{
    cursor:pointer;
}
.section2{
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    width:250px;
    height:400px;
    padding:0 20px;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
a{
    text-decoration: none;
}
img{
    width: 80%;
}

#boton {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 100px auto 50px;
  }
  
#boton:after {
background-color: #111;
border-radius: 8px;
content: "";
display: block;
height: 48px;
left: 0;
width: 100%;
position: absolute;
top: -2px;
transform: translate(8px, 8px);
transition: transform .2s ease-out;
z-index: -1;
}

#boton-56:hover:after {
transform: translate(0, 0);
}

#boton:active {
background-color: #ffdeda;
outline: 0;
}

#boton:hover {
outline: 0;
}

@media (min-width: 768px) {
#boton {
    padding: 0 40px;
}
}

